

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的 ASP.NET 应用程序</title>
    <link href="~/Content/mobilebone-master/src/mobilebone.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/mobilebone-master/src/mobilebone.js"></script>
</head>
<body style="height:100%">
    <div style="background-color:red;width:100%;height:1000px" class="page out">
        页面一

        <a id="test" data-title="home" >请求另外一个页面</a>

    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $('#test').on("click", function () {
            Mobilebone.ajax({
                url: '/Test/home',
                success: function () {
                    alert("fdsf");
                }
            });
        });
    })
 

    
</script>